.panel{
    width: 350px;
    min-width: 350px;
    height: 100vh;
    background-color: #1D1D1D;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 10px 50px 10px;
    box-sizing: border-box;
}

.panel .link{
    color: white;
}

.panel__logo{
    width: 289px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
}

.panel__logo img{
    width: 100%;
    height: 100%;
}

.panel h1{
    margin-bottom: 50px;
}

.panel__nav__list p{
    margin: 25px 0 15px 0;
    font-weight: 800;
}

.panel__nav__list li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.panel__nav__list li img{
    width: 30px;
    height: 30px;
    filter: invert(1);
}