* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Inter, sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #1D1D1D;
}

#root {
    min-height: 100vh;
}

button, input, textarea {
    transition-duration: 0.3s;
}

button:hover {
    padding-left: 30px !important;
    padding-right: 30px !important;
    cursor: pointer;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    padding-left: 25px !important;
    padding-right: 25px !important;
}