.profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.profile__avatar {
    width: 450px;
    height: 450px;
    min-width: 450px;
    min-height: 450px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.profile__avatar img {
    width: 110%;
    height: 110%;
    object-fit: cover;
}

.profile__data__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.profile__data__list li {
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: white;
}

.profile__buttons {
    display: flex;
    gap: 10px;
}

.profile__buttons button {
    border: none;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
}

.profile__buttons__change {
    background-color: #e7b04a;
}

.profile__buttons__logout {
    background-color: #ea5858;
}

.profile__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.profile__modal__button {
    background-color: #e7b04a;
    color: white;
}

.profile__modal__input {
    padding: 10px;
    outline: none;
    border: 2px solid #5a5aef;
    border-radius: 20px;
}

.profile__modal__file {
    position: relative;
    display: inline-block;
}

.profile__modal__file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #419152;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.profile__modal__file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.profile__modal__file input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.profile__modal__file:hover span {
    background-color: #59be6e;
}

.profile__modal__file:active span {
    background-color: #2E703A;
}

.profile__modal__file input[type=file]:disabled + span {
    background-color: #eee;
}